<div id="<%= dom_id tv %>">
  <p>
    <strong>Name:</strong>
    <%= tv.name %>
  </p>

  <p>
    <strong>Rss:</strong>
    <%= tv.rss %>
  </p>

  <p>
    <strong>Lien:</strong>
    <%= tv.lien %>
  </p>

</div>
